

   <div class="header-image" fxLayout="row" >
     <div >
       <h1 class="label">How can we help you?</h1>


     </div>
   </div>
   <div style="background: aliceblue">
     <div class = "contact-body">
       <div class = "contact-info" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
         <div class="content" fxLayout="column" fxLayoutAlign="center center" >
           <span><mat-icon color="accent" class="icon">phone</mat-icon></span>
           <span class="title">Phone No.</span>
           <span class = "text">1-2392-23928-2</span>
         </div>
         <div class="content" fxLayout="column" fxLayoutAlign="center center">
           <span><mat-icon class="icon" color="accent">email</mat-icon></span>
           <span class="title">E-mail</span>
           <span class = "text">kabilankannan25agmail.com</span>
         </div>
         <div class="content" fxLayout="column" fxLayoutAlign="center center">
           <span><mat-icon class="icon" color="accent">place</mat-icon></span>
           <span class="title">Address</span>
           <span class = "text">2939 Patrick Street, Vicotria TX, United States</span>
         </div>
         <div class="content" fxLayout="column" fxLayoutAlign="center center">
           <span><mat-icon class="icon" color="accent">watch_later</mat-icon></span>
           <span class="title">Opening Hours</span>
           <span class = "text">Monday - Friday (9:00 AM to 5:00 PM)</span>
         </div>
       </div>
     </div>
   </div>
   <div class = "contact-form" fxLayout="row" fxLayoutAlign="space-evenly center">

     <form>
       <div class="contact"  fxLayoutAlign="start center">
         <i >Contact  Us</i>
       </div>
       <div>
         <input type = "text" class = "form-control" placeholder="First Name">
         <input type = "text" class = "form-control" placeholder="Last Name">
       </div>
       <div>
         <input type = "email" class = "form-control" placeholder="E-mail">
         <input type = "text" class = "form-control" placeholder="Phone">
       </div>
       <textarea rows = "5" placeholder="Message" class = "form-control"></textarea>
       <button class="button">
         <i>Send Message</i>
       </button>
     </form>

     <div class="image">
       <img src = "assets/image/contact-png.png" alt = "">
     </div>
   </div>

<div class="footer">
<!--  <img src="assets/image/Frame-3.png" alt="footer">-->
  <div class="footer-img">
      <img src="assets/image/Frame-3.png" alt="footer">
  </div>
</div>
<!--  <div class = "map">-->
<!--    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.6648551590865!2d80.25297067505255!3d13.056992113000392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a52663f96ad36c5%3A0xbced3b86c6a5384c!2sEagle%20Tower%2C%20Greams%20Rd%2C%20Thousand%20Lights%20East%2C%20Thousand%20Lights%2C%20Chennai%2C%20Tamil%20Nadu%20600006!5e0!3m2!1sen!2sin!4v1711529412348!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>-->
<!--  </div>-->


