

<!--   <div class="header-image" fxLayout="row" >-->
<!--     <div >-->
<!--       <h1 class="label">How can we help you?</h1>-->


<!--     </div>-->
<!--   </div>-->
   <div style="background: aliceblue" >
     <div class = "contact-body" fxFlex.lt-sm="100%">
       <div class = "contact-info" fxLayout="row"  fxLayoutAlign="center center" fxLayoutAlign.lt-sm="center start"
            fxLayoutGap="10px" fxLayout.lt-sm="column" fxFlex=100%>
        <div fxLayoutGap="10px" fxFlex="50%" fxFlex.sm="50%" fxFlex.lt-sm="50%" class="content-div">
          <div class="content" fxLayout="column" fxFlex.sm="50%" fxLayoutAlign="center center" fxFlex="50%"  fxFlex.lt-sm="50%" >
            <span><mat-icon color="accent" class="icon">phone</mat-icon></span>
            <span class="title">Phone No.</span>
            <a class = "text" href="tel:8248079675">8248079675</a>
          </div>
          <div class="content" fxLayout="column" fxFlex.sm="50%" fxLayoutAlign="center center" fxFlex="50%"  fxFlex.lt-sm="50%">
            <span><mat-icon class="icon" color="accent">email</mat-icon></span>
            <span class="title">E-mail</span>
            <a class = "text" href="mailto:kabilankannan25@gmail.com">kabilankannan25agmail.com</a>
          </div>
        </div>
        <div fxLayoutGap="10px" fxFlex.sm="50%" fxFlex="50%" fxFlex.lt-sm="50%" class="content-div">
          <div class="content" fxLayout="column" fxLayoutAlign="center center" fxFlex.sm="50%" fxFlex="50%"  fxFlex.lt-sm="50%">
            <span><mat-icon class="icon" color="accent">place</mat-icon></span>
            <span class="title">Address</span>
            <a class = "text" href="https://maps.app.goo.gl/h3ybUyRDvn5F5Rzt7">2939 Patrick Street, Vicotria TX, United States</a>
          </div>
          <div class="content" fxLayout="column" fxLayoutAlign="center center" fxFlex.sm="50%" fxFlex="50%" fxFlex.lt-sm="50%">
            <span><mat-icon class="icon" color="accent">watch_later</mat-icon></span>
            <span class="title">Opening Hours</span>
            <span class = "text">Monday - Friday (9:00 AM to 5:00 PM)</span>
          </div>
        </div>
       </div>
     </div>
   </div>
   <div class = "contact-form" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayout.lt-sm="column">
     <div class = "map">

       <iframe class="mapImage" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.6648551590865!2d80.25297067505255!3d13.056992113000392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a52663f96ad36c5%3A0xbced3b86c6a5384c!2sEagle%20Tower%2C%20Greams%20Rd%2C%20Thousand%20Lights%20East%2C%20Thousand%20Lights%2C%20Chennai%2C%20Tamil%20Nadu%20600006!5e0!3m2!1sen!2sin!4v1711529412348!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
     </div>
   <div class="form">
     <form  fxLayout.lt-sm="column" [formGroup]="userEnquiry" (ngSubmit)="onSubmit()">
       <div class="contact"  fxLayoutAlign="start center">
         <i >Contact  Us</i>
       </div>
       <div>
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput   placeholder="FirstName" formControlName="firstName"  id="firstName">
        <mat-error *ngIf="userEnquiry.get('firstName')?.hasError('maxlength')">
          First name can have max of 20 characters!
        </mat-error>
        <mat-error *ngIf="userEnquiry.get('firstName')?.hasError('required')">
          First Name is Required!
        </mat-error>
        <mat-error *ngIf="userEnquiry.get('firstName')?.hasError('minlength')">
          First name should include atleast 4 characters!
        </mat-error>
        <mat-error *ngIf="userEnquiry.get('firstName')?.hasError('pattern')">
          First Name must follow this pattern!
        </mat-error>
      </mat-form-field>
         <mat-form-field appearance="outline">
           <mat-label>Last Name</mat-label>
           <input matInput placeholder="LastName" formControlName="lastName"  id="lastName">
           <mat-error *ngIf="userEnquiry.get('lastName')?.hasError('maxlength')">
             Last name can have max of 20 characters!
           </mat-error>
           <mat-error *ngIf="userEnquiry.get('lastName')?.hasError('required')">
             Last Name is Required!
           </mat-error>
           <mat-error *ngIf="userEnquiry.get('lastName')?.hasError('pattern')">
             Last Name must follow this pattern!
           </mat-error>
         </mat-form-field>
       </div>
       <div>
         <mat-form-field appearance="outline">
           <mat-label>Email</mat-label>
           <input matInput placeholder="Email" formControlName="email"  id="email">
           <mat-error *ngIf="userEnquiry.get('email')?.hasError('required')">
             Email ID is Required!
           </mat-error>
           <mat-error *ngIf="userEnquiry.get('email')?.hasError('email')">
             Email ID must follow this pattern!
           </mat-error>
         </mat-form-field>
         <mat-form-field appearance="outline">
           <mat-label>Phone Number</mat-label>
           <input matInput placeholder="Phone Number" formControlName="phoneNumber"  id="phoneNumber">
         </mat-form-field>
       </div>
       <textarea class="form-control" rows = "5" matInput placeholder="Message" formControlName="message"  id="message"></textarea>
       <button type="submit" class="button">
         <i>Send Message</i>
       </button>
     </form>
   </div>



    </div>
<!--   </div>-->
<!--<div class="footer-img">-->
<!--  <h1 class="mapText">Our Office Location</h1>-->
<!--</div>-->

<!--<div class="footer">-->
<!--  <img src="assets/image/Frame-3.png" alt="footer">-->

<div class="footerEnd" fxLayout="row" fxLayoutAlign="start space-between">
  <div class="social-media-icons" fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
    <div class="mediaIcons">
      <a href="#" class="fa fa-facebook"></a>
    </div>
    <div class="mediaIcons" >
      <a href="#" class="fa fa-twitter"></a>
    </div>
    <div class="mediaIcons">
      <a href="#" class="fa fa-google" style="background-color: #dd4b39"></a>
    </div>
    <div class="mediaIcons">
      <a href="#" class="fa fa-youtube"></a>
    </div>
  </div>
  <div class="text2">
    <h4 class="textContent">&#64;copyright Vasanth Kabi</h4>
  </div>
</div>
<!--</div>-->



