
  <div class="header-image" fxLayout="row" >
<div >
<h1 class="label">How can we help you?</h1>


</div>
  </div>
  <div >
 <div  fxLayout="row" fxFlex="50%">
   <mat-card >
     <mat-card-header>
       <mat-card-title>Contact us</mat-card-title>
       <mat-card-subtitle>Have Any Questions?</mat-card-subtitle>
     </mat-card-header>
     <mat-divider></mat-divider>
     <mat-card-content>
       Wonderful serenity has taken possession of my entire soul,
       like these sweet mornings of spring which I enjoy.
     </mat-card-content>
   </mat-card>
 </div>
    <div fxFlex="50%" class="input-field" >
     <div fxLayout="row" fxLayoutAlign="space-around center" >
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Your Name</mat-label>
          <input matInput >
        </mat-form-field>
      </div>
     <div>
       <mat-form-field appearance="outline">
         <mat-label>Your Email</mat-label>
         <input matInput >
       </mat-form-field>
     </div>
     </div>
     <div fxLayout="row" fxLayoutAlign="center center"  >
       <mat-form-field style="width: 70%; height: 170px">
         <mat-label>Comments</mat-label>
         <textarea matInput></textarea>
       </mat-form-field>
     </div>
 </div>
</div>
